*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #85a5d4;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    display: flex;
    border-radius: 5px;
    width: 1000px;
    margin: 100px auto 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 7px 8px 6px rgba(0, 0, 0, 0.4);
}

.card {
    overflow: hidden;
    display:  inline-block;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s ease;
}

.card:hover {
    background-color: rgb(233, 233, 233);
}

a { 
    text-decoration: none;
}

a img {
    width: 70px;
    margin-bottom: 20px;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #82a1cf;
}

.card-text {
    padding: 10px;
    color: #aaa;
    font-size: 13px;
    line-height: 30px;
}

.card span {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
